<footer class="bg-white">
  <div class="container py-5">
    <div class="row py-4">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <img
          height="100px"
          width="auto"
          src="../../images/logo.png"
          alt=""
          width="180"
          class="mb-3"
        />
        <p class="font-italic text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt.
        </p>
        <ul class="list-inline mb-0">
          <!-- Facebook-->
          <li class="list-inline-item">
            <a href="#" class=" py-1 px-2 my-2 social-facebook"
              ><i class="fab fa-facebook-square fa-fw fa-2x"></i
            ></a>
          </li>
          <!-- VK-->
          <li class="list-inline-item">
            <a href="#" class=" py-1 px-2 my-2 social-youtube"
              ><i class="fab fa-youtube fa-fw fa-2x"></i
            ></a>
          </li>
          <!-- LinkedIn-->
          <li class="list-inline-item">
            <a href="#" class=" py-1 px-2 my-2 social-linkedin"
              ><i class="fab fa-linkedin fa-fw fa-2x"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">navigation</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="text-muted">à propos</a></li>
          <li class="mb-2"><a href="#" class="text-muted">nos produits</a></li>
          <li class="mb-2">
            <a href="#" class="text-muted">les actualités</a>
          </li>
          <li class="mb-2"><a href="#" class="text-muted">contatez nous</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="text-muted">Login</a></li>
          <li class="mb-2"><a href="#" class="text-muted">Register</a></li>
          <li class="mb-2"><a href="#" class="text-muted">Wishlist</a></li>
          <li class="mb-2"><a href="#" class="text-muted">Our Products</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">nos infomation</h6>
        <p class="text-muted mb-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque
          temporibus.
        </p>
      </div>
    </div>
  </div>

  <!-- Copyrights -->
  <div class="bg-light py-4">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">
        © 2020 Front End Starter All rights reserved.
      </p>
    </div>
  </div>
</footer>
<!-- End -->
