<header class="navigation-wrap ">
  <nav
    id="navbar"
    class="navbar navbar-expand-md navbar-light bg-transparent  fixed-top  start-header start-style"
  >
    <div class="container">
      <a class="navbar-brand" href="#"
        ><img src="../../images/logo.png" alt=""/>

        <img class="d-none" src="../../images/logo.png" alt=""
      /></a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="navbar-nav" class="navbar-nav ml-auto py-4 py-md-0">
          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-3">
            <a class="nav-link" href="#home">Accueil</a>
          </li>
          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-3">
            <a class="nav-link" href="#about">Présentation</a>
          </li>

          <li class="nav-item dropdown pl-4 pl-md-0 ml-0 ml-md-3">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item " href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>

          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-3">
            <a class="nav-link" href="#functions">Fonctionnalité </a>
          </li>
          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-3">
            <a class="nav-link" href="#pricing">Pricing</a>
          </li>
          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-3 d-none d-md-block">
            <a
              data-toggle="modal"
              data-target="#exampleModal"
              class="nav-link btn btn-primary    text-white "
              href="#contct"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
