<header>
  <div class="top-header bg-trans border border-buttom">
    <div class="container">
      <div class="d-flex py-2 justify-content-between align-items-center">
        <div class="d-flex  align-items-center">
          <div class="mr-4 d-inline-flex align-items-center ">
            <span class="rounded py-1 px-1  ">
              <i class="fad fa-phone    text-primary  "></i>
            </span>
            <span class="ml-2">0776354595</span>
          </div>
          <div class="mr-4 d-inline-flex align-items-center ">
            <span class="rounded py-1 px-1 ">
              <i class="fad fa-envelope   text-primary  "></i
            ></span>
            <span class="ml-2">contact@orcloud.com</span>
          </div>
        </div>
        <div>
          <ul class="list-inline mb-0">
            <!-- Facebook-->
            <li class="list-inline-item">
              <a
                href="#"
                class="social-link rounded py-1 px-2 my-2 social-facebook"
                ><i class="fab fa-facebook-f fa-fw"></i
              ></a>
            </li>
            <!-- VK-->
            <li class="list-inline-item">
              <a
                href="#"
                class="social-link rounded py-1 px-2 my-2 social-youtube"
                ><i class="fab fa-youtube fa-fw"></i
              ></a>
            </li>
            <!-- LinkedIn-->
            <li class="list-inline-item">
              <a
                href="#"
                class="social-link rounded py-1 px-2 my-2 social-linkedin"
                ><i class="fab fa-linkedin fa-fw"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg    py-0 navbar-light bg-trans">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img style="height: 90px;" src="../../images/logo.png" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item  active">
            <a class="nav-link" href="#"
              >Accueil <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="../about.html">Présentation</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="../elements.html">Nos produits</a>
          </li>

          <li class="nav-item  dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <div
              class="dropdown-menu  shadow-sm animate slideIn py-0"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item py-3 px-4" href="#"
                ><span>Action</span></a
              >
              <a class="dropdown-item py-3 px-4" href="#"
                ><span>Another action</span></a
              >

              <a class="dropdown-item py-3 px-4" href="#"
                >Something else here</a
              >
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="../contact.html">contatez-nous</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
