// @ MIXINS
@mixin bg-opacity($color, $opacity) {
  background: $color;
  background: rgba($color, $opacity);
}

.overlay {
  position: absolute;

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &-primary {
    @include bg-opacity($black, 0.3);
  }
}
.overlay-container {
  position: relative;
  z-index: 2;
}
.bg-light {
  background-color: #fff !important;
  transition: all 200ms linear;
}
.section {
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  height: 100vh;
}
.over-hide {
  overflow: hidden;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 20;
}

.img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.bg-transparent {
  background: rgba(0, 0, 0, 0);
}
