.slide {
  background-size: cover;
  height: 400px;
  & > .container {
    @extend .overlay-container;
    height: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
